<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('assets/css/normalize.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/bootstrap/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/fontawesome/all.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/flags/flags.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/sweetalert2.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/portfolio/style.css') }}">

            <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('assets/img/logoPrimary.png') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="{{ asset('assets/js/jquery-3.4.0.min.js') }}"></script>
            <script src="{{ asset('assets/js/bootstrap/bootstrap.min.js') }}"></script>
            <script src="{{ asset('assets/js/fontawesome/all.min.js') }}"></script>
            <script src="{{ asset('assets/js/sweetalert2.all.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
